/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

#body-wrap {
	width: 800px;
	margin: 0 auto; 
	
}

/* Navigation styling */
.top-bar {
	width: 100%;
	margin: 0 auto; 
	text-align: center;

}

.logo {
	position: relative;
	right: -50px;
}

.top-bar a {
	margin: 0 auto; 
	padding-right: 35px;
	text-decoration: none;
	color: lightgrey;
}



header {
	display: inline-block;
	margin: 40px; 
}

nav {
display: flex;
padding: 20px;
margin: 10px;
}

/* Navivgation styling ends here */

/*Header-box styling starts here*/ 

section  {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 99%;
}

.header-box {
	padding-bottom: 40px;
	padding-right: 40px;
	display: flex;
	align-items: center;
	
}

	h1{
		
		text-align:center;
		font-size: 70px;
		padding-bottom: 20px;
		margin: 10px;
		/* justify-content: center;
		align-items:center; */
	
	}

	 .button {
		 align-items:flex-end;
		text-decoration: none;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 8px;
		padding-bottom: 8px;
		border: 1px solid black;
		margin-bottom:10px;
		margin-left: 90px;
		margin-top: 40px;
		color: black;
	 }


		.header-picture {

			position: relative; 
			justify-content: space-between;
			align-items: flex-end;
			flex-flow: row wrap;
			margin-left: 70px;
		}



.features {
	display:flex;
	width:99%;
	justify-content: space-evenly;
}


.featureSection {
	width: 49%;
	
}


.title {
	width:100%;
}

.middle-img {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	
}



hr {
	border: .5px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}



.services {
display: flex;
width: 99%;
justify-content: space-evenly;
		
}


.contact {
	margin-top: 10px;
	
}

.contact p {
	padding-bottom: 10px;
	margin-bottom: 20px;
	

}



footer{
	text-align: center;
}

/* This is the beinging of the CSS code for services */


#page {
	width:900px;
	margin:0 auto;

}


.offers {
	border: 1px solid red;
	justify-content: space-evenly;
	align-items: center;
	
}

.first-pic {
	border: 1px solid red;
	margin-left: 30px;
	

}

.services {
	border: 1px solid red;
	display:flex;
	justify-content: center;
}


.section-one {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.section-one h1{
	font-size: 25px;
	text-align: left;
	margin-top: 25px;
}


.section-one div{
	margin-left: 20px;
	margin-right:20px;
	padding:8px;
	flex-flow: wrap;
	width:100%;
	line-height: 20px;
	
}


.section-two {
	display:flex;
	flex-direction: column;
	justify-content: center;

}

hr {
	border: .5px solid black;
	margin-top: 20px;
	margin-bottom: 30px;
	width:100%;
}

/* This is the styling for subsection-one */

.subsection-one {
	display: flex;
	justify-content: center;
	align-items: center;
	width:105%;
}

.subsection-one div{
	justify-content: space-evenly;
	width:50%;
	border:.5px solid black;
	background-color: #DCDCDC;
	padding-top: 10px;
	margin-top:20px;
	margin-right: 30px;
	margin-bottom: 30px;
	

}

.subsection-one h3 {
	margin: 5px;
}


.subsection-one p {
	margin: 10px;
}

.d-design {
	justify-content: space-evenly;
	width:50%;
	margin-right: .5px;
	margin-left: .5px;
}



/* Stying for subsection-one ends here */

/* Styling for subsection-two starts here */

.subsection-two {
	display: flex;
	justify-content: center;
	align-items: center;
	width:105%;
}

.subsection-two div {
	justify-content: space-evenly;
	width:50%;
	border:.5px solid black;
	background-color: #DCDCDC;
	padding-top: 10px;
	margin-bottom: 30px;
	margin-right: 30px;
	
}

.subsection-two h3 {
	margin: 5px;
}

.subsection-two p {
	margin: 10px;
}



.d-marketing {
	justify-content: space-evenly;
	align-items: center;
	width:50%;
	margin-right: 10px;
	margin-left: .5px;
}

.section-two div button {
	margin-left: 15px;
	margin-bottom: 15px;
}


/* Styling for subsection-two ends here */

/* STYLING FOR SUBSECTION-THREE STARTS HERE */

.subsection-three {
	display: flex;
	justify-content: center;
	align-items: center;
	width:105%;
}

.subsection-three div {
	justify-content: space-evenly;
	width:50%;
	border:.5px solid black;
	background-color: #DCDCDC;
	padding-top: 10px;
	margin-bottom: 20px;
	margin-right: 30px;
}

.subsection-three h3 {
	margin:5px;
}

.subsection-three p {
	margin: 10px;
}


.ios-dev {
	justify-content: space-evenly;
	width:50%;
	margin-right: 20px;
	margin-left: .5px;
}



hr {
	border: .5px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	width:100%;
	
	
}

.description {
	margin-top: 40px;
	
	
}

.facts {
	margin-top: -30px;
	
	
	
}
.facts p {
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-left: 2px;
	width: 90%;
	line-height: 20px;
}


ul {
	padding-left: 30px;
}

footer {
	margin-top: 80px;

}

.button {
	background-color: white;
	color: black;
	border: none;
	padding: 8px 20px 8px;
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
  }
